/* Font imported from Google fonts (Roboto Flex)*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* override default styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Style applied to the overall page*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "roboto flex", sans-serif;
    background-color: #F2F2F2;
}

h1,h2 {
    font-family: "Playfair Display", serif;
}

#snack>p, #meals>p, #catering>p, #diet p {
    padding: 0 10px 0 10px;
    font-family: "roboto flex", sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto Flex', sans-serif;
    color: #344459;
}

a:visited{
    color: #344459;
}

a:active {
    background: #344459;
    color: #F2F2F2;
    size: 0;
}

/* !!! Header !!!*/
header {
    background-color: #F2F2F2;
    z-index: 99;
    box-shadow: 0 2px 4px #3a3a3a;
    position: fixed;
    width: 100%;
}

/* this will keep the logo visible in the nav bar*/
#baiana {
    display: flex;
    justify-content: center;
    margin: 0 0 1% 0;
}

/* make the logo responsive */ 
#logo {
    max-width: 35%;
    height: auto;
}

#menu {
    display: flex;
    justify-content: space-between;
    padding: 0 10% 0 10%;
}


/* ------------------------------------------------------ Main -----*/

main {
    flex: 1 0 auto;
    margin-top: 79px;
    display: flex;
    flex-direction: column;
}

/* -- hero image positioning-- */
#hero {
    height: 550px;
    width: 100%;
    background: url(../images/hero_image.JPG) no-repeat left 24% center/cover;
}


#fade {
    color: #F2F2F2;
    background: rgb(114, 120, 140, .5);
    position: relative;
    padding: 15.5%;
    padding-bottom: 332px;
}

#fade > h1 {
    color: #F2F2F2;
    text-align: center;
    margin-top: 0;
    line-height: 40px;
}

#fade h1 em {
    font-size: 60px;
}
/* -------------------------------------------------------- end of hero image -- */

/* ---------------------------------------------------------- Section offers ---*/

#offers > div, #diet > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#offers {
    margin-top: 10px;
}


.title {
    font-style: italic;
    color: #344459;
    text-align: center;
}

.img-size {
    width: 150px;
}

#diet img {
    width: 100%;
}
/* ------------------------------------------------------- End of Section  offers---*/

/* ------------------------------------------------------------ Menu page -- */
#display {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    width: 100%;
    height: auto;
}

#display img {
    width: 90%;
    height: auto;
}

.align {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#display a:active {
    background: #344459;
    color: #F2F2F2;
    size: 0;
}



/* ---------------------------------------------------------- end of Menu page --- */

/* !!! Footer !!! */

footer {
    background-color:#F2F2F2;
    max-width: 100%;
    box-shadow: 0 -1px 4px #3a3a3a;
}
/* spread the logos evenly */
#social-media {
    display: flex;
    justify-content: space-between;
}

#social-media i{
    color: #344459;
}

footer  li {
    list-style-type: none;
    padding: 0 14% 0 14%;
    margin: 2% 0 2% 0;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #logo {
        max-width: 15%;
        height: auto;
    }

    #hero {
        height: 213px;
        width: 100%;
        background: url(../images/hero_image.JPG) no-repeat left 24% center/cover;
    }

    main {
        flex: 1 0 auto;
        margin-top: 81px;
        display: flex;
        flex-direction: column;
    }

    #fade {
        color: #F2F2F2;
        background: rgb(114, 120, 140, .5);
        position: relative;
        padding: 15.5%;
        padding-bottom: 10.5%;
    }

    #fade>h1 {
        margin-top: -51px;
    }

    #no-break {
        display: none;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {  
    br {
        display: none;
    }
}
