/* Font imported from Google fonts (Roboto Flex)*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* override default styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Style applied to the overall page*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "roboto flex", sans-serif;
    background-color: #F2F2F2;
}

h1,h2, h3 {
    font-family: "Playfair Display", serif;
    font-style: italic;
}

#snack>p, #meals>p, #catering>p, #diet p {
    padding: 0 10px 0 10px;
    font-family: "roboto flex", sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto Flex', sans-serif;
    color: #344459;
}

a:visited{
    color: #344459;
}

a:active {
    background: #344459;
    color: #F2F2F2;
    size: 0;
}

/* !!! Header !!!*/
header {
    background-color: #F2F2F2;
    z-index: 99;
    box-shadow: 0 2px 4px #3a3a3a;
    position: fixed;
    width: 100%;
}

/* this will keep the logo visible in the nav bar*/
#baiana {
    display: flex;
    justify-content: center;
    margin: 0 0 1% 0;
}

/* make the logo responsive */ 
#logo {
    max-width: 35%;
    height: auto;
}

#menu {
    display: flex;
    justify-content: space-between;
    padding: 0 10% 0 10%;
}


/* ------------------------------------------------------ Main -----*/

main {
    flex: 1 0 auto;
    margin-top: 26%;
    display: flex;
    flex-direction: column;
}

/* -- hero image positioning-- */
#hero {
    width: 100%;
    height: auto;
    background: url(../images/hero_image.JPG) no-repeat left 24% center/cover;
}


#fade {
    color: #F2F2F2;
    background: rgb(114, 120, 140, .5);
    position: relative;
    padding: 15.5%;
    padding-bottom: 332px;
}

#fade > h1 {
    color: #F2F2F2;
    text-align: center;
    margin-top: 0;
    line-height: 40px;
}

#fade h1 em {
    font-size: 60px;
}
/* -------------------------------------------------------- end of hero image -- */

/* ---------------------------------------------------------- Section offers ---*/

#offers > div, #diet > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#offers {
    margin-top: 10px;
}


.title {
    color: #344459;
    text-align: center;
}

.img-size {
    width: 150px;
}

#diet img {
    width: 100%;
}
/* ---------------------------------------------------------------------------------------------------------*/

/* ------------------------------------------------------------ Menu page --------------------------------- */
#display {
    margin: 2% 0 0 1.5% ;
}
#resize {
    display: flex;
    flex-direction: row;
    width: 31.5%;
}

#display img {
    width: 100%;
    margin: 0 2% 2% 2%;
}

#section-link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
}

#link1{
    margin-right: 2%;
} 
#link2{
    margin-right: 4%;
}

#link3{
    margin-right: 5%;
}

#link1, #link2, #link3 {
    border: solid #344459;
    border-radius: 50px 50px 50px 0;
    border-width: thin;
    padding: 2%;
}

#display a:active {
    background: #344459;
    color: #F2F2F2;
    size: 0;
}

/* ---------------------- Savory section --------------------*/

#savory, #dishes{
    background-color: #344459;
}

#savory span, #sweets span, #dishes span{
    margin: 0 2% 10% 2%;
}

h3, h2{
    text-align: center;
}

hr {
    width: 80%;
    margin-left: 8%;
}

.norm{
    display: flex;
    flex-direction: row;
}

.flip{
    display: flex;
    flex-direction:row-reverse;
}

.img-size{
    width: 150px;
    height: auto;
}

#savory h3, #savory p, #dishes h3, #dishes p, #title-sav, #title-dish, section h2, section label{
    color:#F2F2F2;
}

#title-sav, #title-dish, #title-sweets{
    text-transform: uppercase;
}

#savory p, #sweets p, #dishes p{
    font-family: "roboto flex", sans-serif;
    font-size: 80%;
    margin: 0 5% 0 5%;
    text-align: left;
}

/*------------------------------Section Sweets ------------------------------*/

#sweets{
    background-color: #F2F2F2;
}

#sweets h3, #sweets p, #title-sweets{
    color:#344459;
}

#up>h4{
    text-align: center;
    text-transform: uppercase;
    border: solid #344459;
    margin: 2% 30% 3% 30%;
}
/* ---------------------------------------------------------- end of Menu page --- */

/*-----------------------------------contact page ---------------------------------*/
#infos {
    background: url(../images/tropical-leaf.webp) no-repeat left 50% center/cover;
    flex-grow: 1;
}

#form-info {
    margin: 10% 5% 10% 5%;
    padding: 5%;
    background: rgb(114, 120, 140, .7);
    position: relative;
}

.text-input {
    background: transparent;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

#text-area {
    width: 100%;
    height: auto;
}

#send-button {
    font-size: 100%;
    background: #F2F2F2;
    color: #344459;
    padding: 2% 3% 2% 3%;
    border-radius: 12px;
}

#send-button:active {
    background: #344459;
    color: #F2F2F2;
    size: 0;
}

/* !!! Footer !!! */

footer {
    background-color:#F2F2F2;
    width: 100%;
    box-shadow: 0 -1px 4px #3a3a3a;
}
/* spread the logos evenly */
#social-media {
    display: flex;
    justify-content: space-between;
}

#social-media i{
    font-size: 120%;
    color: #344459;
}

footer  li {
    list-style-type: none;
    padding: 0 14% 0 14%;
    margin: 1% 0 1% 0;
    width: 100%;
}

@media screen and (min-width: 425px) {
    #logo {
        max-width: 35%;
        height: auto;
    }

    #hero {
        height: auto;
        width: 100%;
        background: url(../images/hero_image.JPG) no-repeat left 24% center/cover;
    }

    main {
        flex: 1 0 auto;
        margin-top: 25%;
        display: flex;
        flex-direction: column;
    }

    #fade {
        color: #F2F2F2;
        background: rgb(114, 120, 140, .5);
        position: relative;
        padding: 15.5%;
        padding-bottom: 14%;
    }

    #fade>h1 {
        margin-top: -51px;
    }

    #no-break {
        display: none;
    }
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #logo {
        max-width: 15%;
        height: auto;
    }

    #hero {
        height: auto;
        width: 100%;
        background: url(../images/hero_image.JPG) no-repeat left 24% center/cover;
    }

    main {
        flex: 1 0 auto;
        margin-top: 78px;
        display: flex;
        flex-direction: column;
    }

    #fade {
        color: #F2F2F2;
        background: rgb(114, 120, 140, .5);
        position: relative;
        padding: 13.5%;
        padding-bottom: 10.5%;
    }

    #fade>h1 {
        margin-top: -51px;
    }

    #no-break {
        display: none;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    #hero {
        height: auto;
        width: 100%;
        background: url(../images/hero_image.JPG) no-repeat left 24% center/cover;
    }

    main {
        flex: 1 0 auto;
        margin-top: 81px;
        display: flex;
        flex-direction: column;
    }

    #fade {
        color: #F2F2F2;
        background: rgb(114, 120, 140, .5);
        position: relative;
        padding: 15.5%;
        padding-bottom: 10.5%;
    }

    #fade>h1 {
        margin-top: -51px;
    }

    #no-break {
        display: none;
    }

    #form-info {
        max-width: 70%;
        left: 10%;
        top: 80%;
    }
}

@media screen and (min-width: 1200px) {  
    body{
        margin: 0 15% 0 15%;
        border: solid thin;
        box-shadow: 2px 0px 2px #3a3a3a;
    }

    header {
        background-color: #F2F2F2;
        z-index: 99;
        box-shadow: 0 2px 4px #3a3a3a;
        width: 70%;
    }

    main {
        margin-top: 11%;
    }

    .img-size {
        width: 150px;
    }
    
    #diet img {
        width: 100%;
    }
}
